body {
    padding: 0em;
  }
  
  table.table { width: 100%; }
  
  .table th, .table td { 
    text-align: left; 
    padding: 0.25em;
    padding-left: 1;
  }
  
  .table tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 800px) {
    tr { 
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em 0;
    }
    td, th {
      flex: 1 1 150px;
    }
  }
